.wrapper {}

.vertically-centered {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.helper {
    text-align: center;
    width: 100%;
    margin-top: 1%;
}

.book-table {
    position: absolute;
    display: inline;
    height: 50%;
    width: 60%;
}